@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    margin: 0;
    padding: 0;
    background: #e7e7e7;
    font-family: "Pretendard", sans-serif;
}


h1, h2 {
    font-family: 'Batang', 'Gungseo', 'Nanum Myeongjo', serif;
}

.txt {
    font-size: 1.7rem;
    line-height: 1.7em;
}

.background {
    flex: 0 0 auto;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 45px;
}

